<div class="container">
<table class="table table-striped table-bordered">
　<tr class="row">
  <th class="col-sm-3">仕事内容</th>
　<th class="col-sm-2">分類1</th>
　<th class="col-sm-2">分類2</th>
　<th class="col-sm-2">要求元</th>
　<th class="col-sm-1">時間</th>
　<th class="col-sm-2"></th>
　</tr>
　
<% @works.each do |work| %>

　<tr class="row">
    <td class="col-sm-3"><%= work.task.tasktitle %></td>
    <td class="col-sm-2"><%= work.child1task.child1title %></td>
    <td class="col-sm-2"><%= work.child2task.child2title %></td>
    <td class="col-sm-2"><%= work.request.requesttitle %></td>
    <td class="col-sm-1"><%= work.work_time %></td>
    <td class="col-sm-2">
    <%= link_to "編集", edit_work_path(work), class: "btn-default" "btn-xs" %>
    <%= link_to "削除", work_path(work), method: :delete, class: "btn-danger" "btn-xs" %>
    </td>
    
    <% @sum_time = @sum_time + work.work_time.to_f %>
　</tr>
　<% end %>
　<tr class="row">
　    <td class="col-sm-3"></td>
　    <td class="col-sm-2"></td>
　    <td class="col-sm-2"></td>
　    <td class="col-sm-2">合計時間</td>
　    <td class="col-sm-1"><%= @sum_time %></td>
　    <td class="col-sm-2"></td>
　</tr>
</table></div>