<h1>編集ページ</h1>
<%= @dt %>
<%= form_for @work do |f| %>
        
        <%= f.label :work, "仕事内容" %>
        <%= f.collection_select :task_id, Task.all, :id, :task %>

        <%= f.label :work_time, "時間" %>
        
        <%= f.select :work_time, time_list %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :id, :value => @work.id %>
        <%= f.hidden_field :date, :value => @work.date %>
  <%= f.submit %>
<% end %>

<div class="col-sm-1"><p><button type="button" class="btn btn-primary">
<%= link_to "戻る", work_path(@work.date) %></p></button>
</div>
<div class="col-sm-1">
<p><button type="button" class="btn btn-primary"><%= link_to 'TOP', root_path %></button></p>
</div>
<div class="col-sm-1">
<p><button type="button" class="btn btn-primary"><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></button></p>
</div>