<%= render "shared/logoheader" %>
<h2>編集ページ</h2>
<%= @dt %>

<%= render "form" %>

<div class="container" id="summaryform" >
<%= render :partial => "summaryform", :locals =>  { works: @works}, :action => "show" %>
</div>

<div class="col-sm-2">
<%= link_to "戻る", new_work_path(:date => @dt) ,{:class => "btn btn-primary btn-block"} %>
</div>
<%= render "edit_index_footer" %>