<h1>WorkTime Recorder!</h1>
<p>こんにちは<%= current_user.email %>さん</p>
<%= month_calendar do |date| %>
  <%= link_to date.mday, work_path(date) %>
<% end %>
<div class="col-sm-1">
<p><button type="button" class="btn btn-primary"><%= link_to 'TOP', root_path %></button></p>
</div>
<div class="col-sm-1">
<p><button type="button" class="btn btn-primary"><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></button></p>
</div>

<% if current_user.try(:admin?) %>
<div class="col-sm-1">
<p><button type="button" class="btn btn-primary">

    <%= link_to 'admin page',  admin_tasks_path %>
    </button></p>
    <% end %>
</div>
