<%= render "shared/logoheader" %>
<h2>WorkTime Recorder!</h2>
<p>こんにちは<%= current_user.name %>さん
<div class="col-sm-2">
<%= link_to "本日分を入力", new_work_path(:date => Date.today.to_s), { :class => "btn btn-primary btn-block" } %>
</div></p>
<%= month_calendar do |date| %>
  <% dayworks = @works.where("date": date.to_s ) %>
  <% dailywork = @dailyworks.find_by("date": date.to_s ) %>
  <% if dailywork.nil? %>
    <% workstart = 0.0 %>
    <% workend = 0.0 %>
    <% breaktime1 = 0.0 %>
  <% else %>
    <% workstart = dailywork.workstart %>
    <% workend = dailywork.workend %>
    <% breaktime1 = dailywork.breaktime1 %>
  <% end %>

  <% @sum_time = 0.0 %>
  <% if dayworks.present? %>
    <% dayworks.each do |daywork| %>
      <% @sum_time += daywork.work_time %>
    <% end %>
  <% end %>
  <% if (workend - workstart - breaktime1) == 0  %>
      <div class="" >
  
  <% elsif @sum_time > (workend - workstart - breaktime1)  %>
      <div class="over" >
        
  <% elsif @sum_time == (workend - workstart - breaktime1)  %>
      <div class="finished" >
  
  <% elsif @sum_time > 0 %>
      <div class="doing" >
            
  <% else %>
      <div class="" >
  <% end %>

  <%= link_to date.mday, new_work_path(:date => date), { :class => "btn-block text-center" } %>
</div>
<% end %>

