<h1><%= params[:date] %>の工数管理</h1>
<%= link_to "新規入力", edit_work_path %>
<table>
　<tr>
    <td>仕事内容</td>
    <td>時間</td>
　</tr>
　
<% @works.each do |work| %>
　<tr>
    <td><%= work.task.task %></td>
    <td><%= work.work_time %></td>
    <% @sum_time = @sum_time + work.work_time.to_f %>
　</tr>
　<% end %>
　<tr>
　    <td>合計時間</td>
　    <td><%= @sum_time %>時間</td>
　</tr>
</table>

