<h1>入力ページ</h1>

<% form_for(@work) do |f| %>
  <div><%= f.text_field :title, class: "hogehoge" %></div>
        <%=> f.label :work, "仕事内容" <%>
        <%=> f.text_field :work <%>
        <%=> f.label :work, "仕事内容" <%>
        <%=> f.text_field :work <%>

  <%= f.submit %>
<% end %>
