<h2>New</h2>

<%= form_for(@child2task, :url => admin_child2tasks_path) do |f|  %>
        <%= f.label :child2Title, "分類2" %>
        <%= f.text_field :child2Title %>
<%= f.submit %>

<% end %>
<%= render 'footer' %>