<div class="form-inline">
<div class="form-group">
<%= f.label :child2title, "分類2",:class => "control-label" %>
<%= f.text_field :child2title ,:class => "form-control" %>
</div>

<div class="form-group">
<%= f.label :child2startdate,"利用開始日" ,:class => "control-label" %>
<%= f.date_select :child2startdate, {:end_year => Time.now.year+10}, :class => 'form-control' %>
</div>

<div class="form-group">
<%= f.label :child2enddate,"利用終了日" ,:class => "control-label" %>
<%= f.date_select :child2enddate, {:end_year => Time.now.year+10}, :class => 'form-control' %>
</div>

<div class="form-group">
<%= f.label :child2status,"有効" ,:class => "control-label"%>
<%= f.check_box :child2status, { }, "true", "false" %>        
</div>
<%= f.submit "送信", :class => "form-control btn-default" %>
</div>