<div class= "container">
<div class="verticalcenter">
  <%= image_tag 'logo.png', :size => "150x150",class: "img-responsive" %>
<h4>WorkTime Recorder!</h4>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field" "form-group">
    <%= f.label :email ,:class => "control-label" %><br />
    <%= f.email_field :email, autofocus: true , class: "form-control" %>
  </div>

  <div class="field" "form-group">
    <%= f.label :password ,:class => "control-label" %><br />
    <%= f.password_field :password, autocomplete: "off",class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field" >
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", :class => "form-control btn-default"  %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>