<h1>edit</h1>
<%= @child1task.child1title %>
<%= nested_form_for(@child1task, :url => admin_child1task_path) do |f|  %>
        <%= f.label :child1title, "åˆ†é¡1" %>
        <%= f.text_field :child1title %>
        
        <%= f.fields_for :selectchild2s do |b| %>
        <%= render "selectchild2_fields", b: b  %>
        
    <% end %>
    <%= f.link_to_add "Add this", :selectchild2s %>
<%= f.submit %>
<% end %>

<%= render 'footer' %>