<h1>edit</h1>
<%= @child1task.child1Title %>


<%= form_for(@child1task, :url => admin_child1task_path) do |f|  %>
        <%= f.label :child1Title, "åˆ†é¡1" %>
        <%= f.text_field :child1Title %>
<%= f.submit %>

<% end %>
<%= render 'footer' %>