<h2>edit</h2>
<%= @request.requestTitle %>


<%= form_for(@request, :url => admin_request_path) do |f|  %>
        <%= f.label :requesttitle, "要求元" %>
        <%= f.text_field :requesttitle %>
        <%= f.label :requeststatus,"有効" %>
        <%= f.check_box :requeststatus, { }, true, false %>          
<%= f.submit %>

<% end %>
<%= render 'footer' %>