<h1>Request Index</h1>
<%= link_to "新規作成", new_admin_request_path %>
<table>
<% @requests.each do |request| %>
    <tr>
    <td><%= request.requesttitle %></td>
    <td><%= link_to "編集", edit_admin_request_path(request) %></td>
   <td><%= link_to "削除", admin_request_path(request.id), method: :delete,
   :data => {:confirm => '本当に削除しますか？入力済み工数がある場合紐づく工数画面にてエラーが発生します'} %></td>
   </tr>
<% end %>
</table>
<%= link_to "管理者トップ", admin_tasks_path %>
