<h2>edit</h2>
<%= @task.taskTitle %>

<%= form_for(@task, :url => admin_task_path) do |f|  %>

        <%= f.label :taskTitle, "大分類" %>
        <%= f.text_field :taskTitle %>
<%= f.submit %>
<% end %>
<%= render 'footer' %>
